<head>
<meta charset="utf-8"/>
</head>
<body>
	<!-- Menu -->
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"
			role="navigation">
			<div class="container">
				<a class="navbar-brand" href="/">Sklep komputerowy</a>
				<button class="navbar-toggler border-0" type="button"
					data-toggle="collapse" data-target="#exCollapsingNavbar">
					&#9776;</button>
				<div class="collapse navbar-collapse" id="exCollapsingNavbar">
					<!--<ul class="nav navbar-nav">-->
						<!--<li class="nav-item active"><a class="nav-link" th:href="@{/}">Strona główna</a></li>-->
					<!--</ul>-->

					<!--<form class="form-inline my-2 my-lg-0">-->
						<!--<input class="form-control mr-sm-4" type="search"-->
							<!--placeholder="Wpisz szukaną frazę" aria-label="Search">-->
						<!--<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Szukaj</button>-->
					<!--</form>-->

					<ul class="nav navbar-nav flex-row justify-content-between ml-auto">

						<div th:if="${logged}">
							<li class="nav-item"><a class="nav-link">Zalogowany jako
									<span th:utext="${username}"></span>
							</a></li>
						</div>


						<li class="nav-item"><a href="#" class="nav-link"
							title="settings" data-toggle="modal" data-target="#modalRegister">
								<i class="fa fa-cog fa-fw fa-lg"></i>
						</a></li>

						<div th:if="${logged}">
							<li class="nav-item"><a type="button"
								class="btn btn-outline-light" th:href="@{/logout}">Wyloguj</a></li>
						</div>

						<div th:if="!${logged}">
							<li class="nav-item">
								<button type="button" id="dropdownMenu1" data-toggle="dropdown"
									class="btn btn-outline-light dropdown-toggle">
									Zaloguj się <span class="caret"></span>
								</button> <!-- Login Form -->

								<ul class="dropdown-menu dropdown-menu-right mt-2">
									<li class="px-3 py-2">

										<form th:action="@{/login}" method="post">
											<h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
											<label for="inputEmail" class="sr-only"></label> 
											<input type="email" name="email" class="form-control"
												placeholder="E-mail" required autofocus> <label
												for="inputPassword" class="sr-only"></label> 
											<input type="password" name="password"
												class="form-control" placeholder="Hasło" required>
											<div class="checkbox mb-3">
												<label> 
												<input type="checkbox" name="remember-me"/> Zapamietaj mnie
												</label>
											</div>
											<button class="btn btn-lg btn-primary btn-block"
												type="submit">Zaloguj</button>
											<div class="margin-top20 text-center">
												Nie masz konta? <a th:href="@{/signup}">Zarejestruj się</a>
											</div>
										</form>


									</li>
								</ul>
							</li>
						</div>
						<!-- DIV IF  -->

						<li class="nav-item">
							<form>
								<!--<button type="button" class="btn btn-outline-light"
									data-toggle="modal" data-target="#modalCart">Koszyk (<span th:utext="${cartQuantity}"></span>)
								</button> -->
								<a th:if="${cartQuantity}==0" type="button" class="btn btn-outline-light" th:href="@{/cart}">Koszyk (<span th:utext="${cartQuantity}"></span>)
								</a>
								<a th:unless="${cartQuantity}==0" type="button" class="btn btn-danger" th:href="@{/cart}">Koszyk (<span th:utext="${cartQuantity}"></span>)
								</a>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!--- Forgot password dialog -->

		<div id="modalPassword" class="modal fade" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Zapomniane hasło</h3>
						<button type="button" class="close font-weight-light"
							data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<p>Zresetuj swoje hasło..</p>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button class="btn btn-primary">Zapisz zmiany</button>
					</div>
				</div>
			</div>
		</div>

		<!--- Register dialog -->

		<div id="modalRegister" class="modal fade" tabindex="-1" role="dialog"
			aria-hidden="true">

			<div class="main-login main-center">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3>Rejestracja</h3>
							<button type="button" class="close font-weight-light"
								data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" onsubmit="return validateForm()"
								method="POST" action="register.php">

								<div class="form-group">
									<label for="name" class="cols-sm-2 control-label">Imie</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-user fa" aria-hidden="true"></i></span> <input
												type="text" class="form-control" id="name"
												placeholder="Enter your Name" />
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="name" class="cols-sm-2 control-label">Nazwisko</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-user fa" aria-hidden="true"></i></span> <input
												type="text" class="form-control" id="lastname"
												placeholder="Enter your Lastname" />
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="email" class="cols-sm-2 control-label">Adres
										e-mail</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
												type="text" class="form-control" id="email"
												placeholder="Enter your Email" />
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="username" class="cols-sm-2 control-label">Nazwa
										użytkownika</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-users fa" aria-hidden="true"></i></span> <input
												type="text" class="form-control" id="login"
												placeholder="Enter your Login" required="" />
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="password" class="cols-sm-2 control-label">Hasło</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-lock fa-lg" aria-hidden="true"></i></span> <input
												type="password" class="form-control" id="password"
												placeholder="Enter your Password" required="" />
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="confirm" class="cols-sm-2 control-label">Potwierdź
										hasło</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-lock fa-lg" aria-hidden="true"></i></span> <input
												type="password" class="form-control" id="confirm"
												placeholder="Confirm your Password" required="" />
										</div>
									</div>
								</div>

								<div class="form-group ">
									<button type="submit"
										class="btn btn-primary btn-lg btn-block login-button">Rejestracja</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Cart -->

		<!-- <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="modalCart" aria-hidden="true"> -->
		<div id="modalCart" class="modal fade" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<h4 class="modal-title" id="modalCart">
							Koszyk <span class="showIfEmpty">jest pusty</span>
						</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>

					<div class="hideIfEmpty">
						<div class="modal-body">
							<div class="simpleCart_items"></div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Nazwa produktu</th>
									<th>Ilość</th>
									<th>Cena za sztuke</th>
									<th>Suma</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="product : ${cart}">
									<td th:utext="${product.key.name}"></td>
									<td><a th:href="@{/cart/minus(code=${product.key.id})}">-</a><span th:utext="${product.value}"></span><a
										th:href="@{/cart/plus(code=${product.key.id})}">+</a></td>
									<td th:utext="${product.key.price}+' zł'"></td>
									<td th:utext="${#numbers.formatDecimal(product.key.price*product.value,1,2,'COMMA')}"></td>
									<!-- <td th:utext="${product.key.price}*${product.value}"></td> -->
									<!-- <td th:utext="${produkt_sum}"></td> -->
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>Razem :</td>
									<td th:utext="${#numbers.formatDecimal(sum,1,2,'COMMA')}"></td>
								</tr>
							</tfoot>
						</table>
						</div>
						<!-- /modal-body -->

						<div class="modal-footer">
							<!-- button to empty the cart -->
							<a href="javascript:;" class="simpleCart_empty btn btn-default">Opróżnij
								koszyk</a>
							<!-- create a checkout button -->
							<a href="javascript:;"
								class="simpleCart_checkout btn btn-primary">Złóż zamówienie</a>
						</div>
						<!-- /modal-footer -->

					</div>
					<!-- /hideIfEmpty -->
				</div>
				<!-- /modal-content -->
			</div>
			<!-- /modal-dialog -->
		</div>
		<!-- /modal -->
	</div>
</body>
</html>