<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Moja strona</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</head>
<body>
<div th:insert="fragments/header :: header"></div>
	<br><br><br>
	<div class="container">
	<h1>Zamówienie</h1>
	<br>
	<h3>Produkty</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nazwa produktu</th>
				<th>Ilość</th>
				<th>Cena za sztuke</th>
				<th>Suma</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${cart}">
				<td th:utext="${product.key.name}"></td>
				<td><span th:utext="${product.value}"></span></td>
				<td th:utext="${product.key.price}+' zł'"></td>
				<td th:utext="${#numbers.formatDecimal(product.key.price*product.value,1,2,'COMMA')}+' zł'"></td>
			</tr>
		</tbody>
	</table>
	
	<form th:action="@{/order}" method="POST">
		<h3>Przesyłka</h3>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="shipment">Wybierz rodzaj przesyłki</label>
		  </div>
		  <select class="custom-select" id="shipment" name="shipment">
		    <optgroup label="Płatność z góry">
			    <option value="1">Przesyłka kurierska - 20 zł</option>
			    <option value="2">Paczkomaty Inpost - 10 zł</option>
			    <option value="3">List polecony piorytetowy - 10 zł</option>
			</optgroup>
			<optgroup label="Płatność przy odbiorze">
				<option value="4">Przesyłka kurierska pobraniowa - 20 zł</option>
			    <option value="5">Paczka pocztowa pobraniowa piorytetowa - 15 zł</option>
			</optgroup>
		  </select>
		</div>
		<h3>Dane do wysyłki</h3>
		<div class="input-group mb-3">
		 	<div class="input-group-prepend">
		 		<label class="input-group-text" id="basic-addon3">Imię</label>
  			</div>
			<input id="firstname" name="firstname" class="form-control" th:value="${firstname}" required autofocus>
		</div>
		<div class="input-group mb-3">
		 	<div class="input-group-prepend">
		 		<label class="input-group-text" id="basic-addon3">Nazwisko</label>
  			</div>
  			<input id="lastname" name="lastname" class="form-control" th:value="${lastname}" required autofocus>
  		</div>
  		<div class="input-group mb-3">
		 	<div class="input-group-prepend">
		 		<label class="input-group-text" id="basic-addon3">Miejscowość</label>
  			</div>
			<input id="locality" name="locality" class="form-control" th:value="${locality}" required autofocus>
		</div>
		<div class="input-group mb-3">
		 	<div class="input-group-prepend">
		 		<label class="input-group-text" id="basic-addon3">Ulica i numer domu/mieszkania</label>
  			</div>
			<input id="street" name="street" class="form-control" th:value="${street}" required autofocus>
		</div>
		<div class="input-group mb-3">
		 	<div class="input-group-prepend">
		 		<label class="input-group-text" id="basic-addon3">Kod pocztowy</label>
  			</div>
			<input id="zipCode" name="zipCode" class="form-control" th:value="${zipCode}" required autofocus>
		</div>
		<div class="input-group mb-3">
		 	<div class="input-group-prepend">
		 		<label class="input-group-text" id="basic-addon3">Numer telefonu</label>
  			</div>
			<input id="phone" name="phone" class="form-control" th:value="${phone}" required autofocus>
		</div>
		<div class="input-group mb-3">
		 	<div class="input-group-prepend">
		 		<label class="input-group-text" id="basic-addon3">Uwagi do zamówienia</label>
  			</div>
			<input id="description" name="description" class="form-control">
		</div>
		<label><input type="checkbox" id="save" name="save" > Zapamiętaj dane dla następnych zamówień</label>
		<br>
		Razem do zapłaty:<span th:utext="${#numbers.formatDecimal(sum,1,2,'COMMA')}+' zł'"></span>
		<br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Złóż zamówienie</button>
	</form>
	
	
	
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>