<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Moja strona</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</head>


<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container">
	<br><br><br>
	
			<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">
		    <a th:href="@{/}">Strona główna</a>
		    </li>
		    <li class="breadcrumb-item">
		    <a th:href="@{/}" th:utext="${products[0].subcategory.category.name}"></a>
		    </li>
		    <li class="breadcrumb-item active">
		    <a th:utext="${products[0].subcategory.name}"></a>
		    </li>
		  </ol>
		</nav>
	

		<table class="table table-striped">
			<tr th:each="product : ${products}">
				<td>

					<img th:src="@{'data:image/jpeg;base64,'+${product.images.get(0).generateBase64Image()}}"
						 class="img-circle mx-auto d-block" alt="miniaturka" style="max-height:100px;">

				</td>

				<td><a th:href="@{/products/product(code=${product.id})}" th:utext="${product.name}"></a></td>
				<td th:utext="${product.description}"></td>
				<td th:utext="${product.price}+' zł'"></td>
			</tr>
		</table>
	</div>
	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>